.idea
Gemfile.lock
.log
.sql
.sqlite
.DS_Store
.DS_Store?
._*
.Trashes
bookmarker
calendar
community-flashcards
config.ru
eat-sumthin
eat-sumthin_old
favorite_questions
manual-maker
question_tracker
simplecov_example
ticketee
.gitignore
.sass-cache

