<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to CodeLabs!</h1>
    <p>
      You have successfully signed up to CodeLabs.
      Your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      <a href="<%=@url%>">Click here to login to the site</a>, or just follow this link:<br>
      <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>