<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="page" data-sidebar="#lessons">
  <% unless current_user %>
  <div class="jumbotron">
      <div class="container">
        <h1>Hello, class!</h1>
        <p>
          Welcome to your first dive into the world of web design.
          This course will teach you about modern web design
          from the ground up, starting with HTML and moving onto CSS and
           Javascript. By the end of this course, you will have known
          enough to design your own website and understand how to continue
          improving your skills on your own.<br><br>
          You are in for a world of fun.<br><br>

        </p>
        <p><a data-toggle="modal" data-target="#modal-signup" class="btn btn-primary btn-lg">Get Started »</a></p>
      </div>
    </div>
  <% end %>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Lesson 1</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#">View details »</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#">View details »</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#">View details »</a></p>
        </div>
      </div>

      <hr>


    <div class="vimiumReset vimiumHUD" style="right: 150px; opacity: 0; display: none;"></div>
</div>