<%= render 'subnav' %>
<div class="page" data-sidebar="#favorites">
  <div class="row">
    <div class="col-md-12">
      <h2>Favorites</h2>
    </div>
  </div>
  <%= render 'index' %>
</div>
<script async src="http://codepen.io/assets/embed/ei.js"></script>