<div class="page" data-sidebar="#favorites">
  <div class="navbar-fixed-below-top">
    <div class="container">
      <a id="1col-view" class="spaced"><i class="icon-list-ul"></i></a>
      <a class="spaced" id="2col-view"><i class="icon-columns"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Favorites</h2>
    </div>
  </div>
  <%= render 'index' %>
</div>
<script async src="http://codepen.io/assets/embed/ei.js"></script>