<%= render 'subnav' %>
<div class="page" data-sidebar="#my-files">
  <div class="row">
    <div class="col-md-12">
      <h2>Created by <%= @user.first_name%> <%=@user.last_name%></h2>
    </div>
  </div>
  <%= render 'index' %>>
</div>
