/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require_tree .
 */


.wide {
  width: 100%;
}
.center {
  margin: auto;
  text-align: center;
}
.padded {
  padding: 50px;
}
.spaced {
  padding-right: 20px;
}
.indent-left {
  padding-left: 10px;
}

a.active-link {
  border-bottom: solid 3px;
}
.subheader{
  color: #818181;
}
.tab-left{
  padding-left: 30px
}
.three-fourths {
  width: 75%;
}