/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require_tree .
 */


.wide {
  width: 100%;
}

.center {
  margin: auto;
  text-align: center;
}
.shoulder-margins {
  margin-left: 20px;
  margin-right: 20px;
}
.padded {
  padding: 50px;
}
.spaced {
  padding-right: 20px;
}
.indent-left {
  padding-left: 20px;
}
.indent-right {
  padding-right: 20px;
}
.middle {
  vertical-align: middle;
}
.tab-left{
  padding-left: 30px;
}
.no-decor:hover {
  text-decoration: none;
}
a.active-link {
  border-bottom: solid 3px;
}
.subheader{
  color: #818181;
}
.inline {
  display: inline !important;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.three-fourths {
  width: 75%;
}

// images

.thumbnail {
  width: 64px;
}
img {
  max-width: 100%;
}

// generic
ul {
  padding-left: 20px;
}
.black {
  color: black;
}
.text {
  font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
}
.markdown {
  ul {
    padding-left: 20px;
    padding-bottom: 10px;
  }
  pre code {
    font-family: 'Courier New', Courier, Consolas, Monaco, monospace;
  }
}
