.favorite {
  cursor: pointer;
  position: relative;
}
.favorite.icon-heart {
  padding-left: 3px;
}
.favorite .icon-heart {
  color: lightpink;
  &:hover {
    color: deeppink;
  }
}
.favorite.favorited .icon-heart {
  color: deeppink;
}

.icon-heart {
  padding-left: 3px;
}
.codepen-desc{
  position: relative;
  z-index: 10;
}
a.favorite:hover {
  text-decoration: none;
}