.label-lg {
  font-size: 16px;
}
.label-med {
  font-size: 14px;
}

.nav-icon {
  border-left: solid 1px #151515;
  border-right: solid 1px #151515;
  padding: 3px;
  font-size: 12px;
}

span.right {
  margin-top: 8px;
  float: right;
}
// navbar fixed below

.navbar-fixed-below-top {
  position: fixed;
  top: 50px;
  left: 50px;
  border-width: 0 1px;
  z-index: 99;
  width: 100%;
  background-color:#E6E6E6;
  padding-left: 50px;
  height: auto;
  .container {
    padding-left: 37px;
    padding-right: 136px;
  }
  + div {
    padding-top: 40px;
  }
  a:hover {
    text-decoration: none;
  }
}



// custom

.navbar {
  margin-bottom: 0;
}
.navbar-form i {
  font-size: 18px;
}
.navbar-form input {
  width: 135px;
}

.btn.btn-facebook {
  background-color: #48649f;
  color: white;
  margin-right: 10px;
}

#reset-password-link {
  padding-left: 10px;
  color: white;
}
#reset-password-link:hover {
  text-decoration: none;
}


#subnav li.active {
  border-bottom: solid 5px;
}

.nav-item {
  font-size: 18px;
  position: relative;
  top: 12px;
  padding-left: 5px;
  border: none;
}

// sidenav customs

nav.left > .button.active > span {
  display: none;
}
nav.left > .button.active:hover > span {
  display: inline;
}