<nav class="left">
  <a id="lessons" href="#" class="button green">
    <i class="icon-home"></i>
    <span>lessons</span>
  </a>
  <ul>
    <li>
      <a href="#" class="button">
        <i class="icon-calendar-empty"></i>
        <span>today</span>
      </a>
    </li>
    <li>
      <label for="pinned" class="button">
        <input type="checkbox" name="pinned" id="pinned">
        <i class="icon-share-alt"></i>
        <span>upcoming</span>
      </label>
    </li>
    <li>
      <a href="#" class="button">
        <i class="icon-reply"></i>
        <span>past</span>
      </a>
    </li>
  </ul>
  <a id="code" href="<%=new_codepen_path %>" class="button red">
    <i class="icon-terminal"></i>
    <span>code</span>
  </a>
  <!-- submenu of "members" -->
  <ul>
    <li>
      <a data-toggle="modal" data-target="#modal-submit-code" class="button">
        <i class="icon-cloud-upload"></i>
        <span>submit</span>
      </a>
    </li>
  </ul>
  <!-- -->
  <a id="show-and-tell" href="#" class="button green">
    <i class="icon-group"></i>
    <span>class</span>
  </a>
  <a id="files" href="#" class="button green">
    <i class="icon-folder-open"></i>
    <span>files</span>
  </a>
  <a id="favorites" href="#" class="button green">
    <i class="icon-heart-empty"></i>
    <span>faves</span>
  </a>
  <a id="resources" href="#" class="button green">
    <i class="icon-puzzle-piece"></i>
    <span>resources</span>
  </a>
  <a id="ask-a-question" href="#" class="button green">
    <i class="icon-question-sign"></i>
    <span>Ask <i class="icon-question-sign"></i></span>
  </a>
  <a id="settings" href="#" class="button black">
    <i class="icon-gears"></i>
    <span>settings</span>
  </a>
  <a id="logout" href="#" class="button black bottom">
    <i class="icon-off"></i>
    <span>logout</span>
  </a>
</nav>