<div class="navbar-fixed-below-top">
  <ul class="nav navbar-nav container">
    <li class="active">
        <a id="1col-view" class="spaced"><i class="icon-list-ul"></i></a>
    </li>
    <li>
        <a class="spaced" id="2col-view"><i class="icon-columns"></i></a>
    </li>
  </ul>
</div>