<br><br><br><br>
<div class="center narrow">
  <i style="font-size: 72px; color: orange;" class="icon-beaker"> </i>
  <i style="font-size: 72px; color: red;" class="icon-beaker"> </i>
  <i style="font-size: 72px; color: green;" class="icon-beaker"> </i>
  <p class="lead">
    Codelabs is designed for
    instructors teaching front-end
    web development
    to easily communicate and exchange
    lessons & assignments with their students.
</div>
<br><br><br><br>
<p class="lead">
  <br><br>Codelabs provides a number of
  features built just for programming courses:
  <br><br>
  <i class="icon-beaker"> </i><b>Built-in WYSIWYG code editor</b>. Integrated with <a href="http://codepen.io" target="_newtab">Codepen.io</a>'s
  awesome "what-you-see-is-what-you-get" editor, students can code up their assignments in HTML, CSS, and Javascript
  in Codelabs while seeing a live preview of their work as they code.
</p>

<p class="lead">
  <i class="icon-beaker"> </i><b>Classroom box</b>. Students can submit their Codepen assignments and link them
  to lessons that you write up. They can see both the code and preview results of
  assignments their classmates submit, too, favorite them, and build a list of their favorite codepens from class.
</p>

<p class="lead">
  <i class="icon-beaker"> </i><b><a href="http://daringfireball.net/projects/markdown/basics" target="_newtab">Markdown</a>-powered classroom Q&A</b>. Similar to Stack Overflow, students can ask their fellow classmates issues
  while using Markdown to annotate their questions and answers.
</p>

<p class="lead">
  <i class="icon-beaker"> </i><b>Instructor help request and SMS/email alerts</b>.
  Students can ping their instructors for live 1-on-1 help. Instructors can then opt
  to receive email and/or SMS text-messaging alerts based on their admin settings. (Charges and rates for text messaging apply.)
</p>
<p class="lead">
  <i class="icon-beaker"> </i><b>Admin dashboard</b>.
  Set admin privileges, moderate the forums, manage assignments, and edit <a href="http://daringfireball.net/projects/markdown/basics" target="_newtab">Markdown</a>-powered lesson plans right from the dashboard.
</p>

<p class="lead">
  ...and it's free!
</p>
<br><br><br>
<p>This project is still very new! Please report any bugs and issues to the
  <a href="http://github.com/amyhua/codelabs" target="_newtab">Github</a> page, and let me know how you use it!
Feedback is very welcome.</p>
<hr>
<br><br><br>
<div class="center">

  <%= image_tag 'http://i.stack.imgur.com/HfB18.jpg?s=128&g=1', class: 'img-circle' %>
  <span style="font-size: 20px">Made by Amy HUA!
<a class="subheader no-decor indent-left" href="http://amyhua.me" target="_newtab">
  <i class="icon-user"> </i>portfolio</a>
  <a class="subheader no-decor indent-left" href="http://github.com/amyhua" target="_newtab">
    <i class="icon-github"> </i>github</a>
<a class="subheader no-decor indent-left" href="mailto: foramyhua@gmail.com" target="_newtab">
  <i class="icon-envelope"> </i>email</a>
<a class="subheader no-decor indent-left" href="http://linkedin.com/in/huaamy" target="_newtab">
  <i class="icon-linkedin"> </i>linkedin</a>
    </span>
</div>
<br><br>
