<div class="page" data-sidebar="#links">
  <h1><i class="icon-globe"></i> Learn more on the web</h1>
  <p class="med">There are hundreds of thousands, if not <em>millions</em> of
    online resources for learning programming, software development, and web design online,
    and many of them are 100% FREE! Given the constantly changing
    technology landscape, the best way to keep your programming skills
    sharp is to <b>constantly</b> keep learning about the greatest
    and latest types of technology. Here is a list of great resources to help you get started.<br><br>
    If you find a helpful resource that is not listed below, please
  consider contributing: <a><b>add a link to our collection</b></a>.</p>
  <br><br>

  <section>
    <header><h3>Programming Academies</h3></header>

    <div class="row">
      <article class="col-md-4">
        <header><h4>
          <a href="http://www.codeacademy.com">Code Academy</a>
        </h4></header>
        <span class="subheader">www.codeacademy.com</span>
        <br>
        Picture
        <p>By far one of the most popular ways to learn how to code. Includes programming tracks in HTML, CSS, Javascript, Python,
        Ruby, PHP, and many more languages from Beginner to Advanced.</p>
      </article>

      <article class="col-md-4">
        <header><h4>
          <a href="http://www.codeschool.com">Code School</a>
        </h4></header>
        <span class="subheader">www.codeschool.com</span>
        <br>
        Picture
        <p>CodeSchool does a great job of teaching you web development in a clear, fun, and engaging way
          from Beginner to Advanced.
          Follow along their instructors as they teach you through video lectures, slides, and coding challenges.
          Learn web development, design, typography, mobile development, programming, methodology, best practices, and more.
          Although full access to all their classes cost $20/month, they include many high
        quality free classes as well.</p>
      </article>

    </div>
  </section>

  <section>
    <header><h3>Q & A: <em>"I need help!</em></h3></header>

    <div class="row">
      <article class="col-md-4">
        <header><h4>
          <a href="http://www.stackoverflow.com">Stack Overflow</a>
        </h4></header>
        <span class="subheader">www.stackoverflow.com</span>
        <br>
        Picture
        <p>
          Stack Overflow is currently the web's premier source for programming help,
          questions, and answers.
        </p>
      </article>

      <article class="col-md-4">
        <header><h4>Code School</h4></header>
        www.codeschool.com<br>
        Picture
        <p>CodeSchool does a great job of teaching you web development in a clear, fun, and engaging way
          from Beginner to Advanced.
          Follow along their instructors as they teach you through video lectures, slides, and coding challenges.
          Learn web development, design, typography, mobile development, programming, methodology, best practices, and more.
          Although full access to all their classes cost $20/month, they include many high
          quality free classes as well.</p>
      </article>

    </div>
  </section>

  <h3>Beginner HTML</h3>
  <h3>Beginner CSS</h3>

</div>
